.tabs {
  width: 100%;
  height: 48px;
  background: $gray-light;
  border-bottom: 1px solid $gray;
  font-size: 13px;
  font-weight: lighter;
  .tabs-nav {
    margin: 16px 16px 0 16px;
    .active {
      border-bottom: 0 !important;
      background: $white;
      a {
        line-height: 48px !important;
      }
    }
    li {
      display: inline;
      float: left;
      background: $gray-light;
      border-top: 1px solid $gray;
      border-right: 1px solid $gray;
      border-bottom: 1px solid $gray;
      @include transition-all(.2s);
      &:first-child {
        border-left: 1px solid $gray;
      }
      &:hover {
        background: $white;
      }
      a {
        color: $primary;
        display:block;
        text-decoration: none;
        line-height: 47px;
        padding: 0px 16px;
        &:visited, :hover, :active {
          color: primary;
        }
      }
    }
  }
  &+.tabs-content {
    margin: 0;
    padding: $padding-container;
    background: $white;
  }
}
