@mixin boxshadow {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}

@mixin transition-all($time) {
  transition: all $time;
  -webkit-transition: all $time;
}
