// General
$padding-container: 16px;

// Colors
$primary: #264653;
$success: #2a9d8f;
$info: #e9c46a;
$warning: #f4a261;
$danger: #e76f51;

// Text
$text-light: #f3f3f3;


// Stickynote
$bg-stickynote: #ffffcc;
$bg-stickynote-heading: #ffffb3;
