// General
$padding-container: 16px;

// Colors
$primary: #264653;
$success: #2a9d8f;
$info: #e9c46a;
$warning: #f4a261;
$danger: #e76f51;

$white: #FFFFFF;
$gray-light: #f8f8f8;
$gray: #e6e7ef;

// Text
$text-light: #f8f8f8;
$text-dark: #292929;

// Stickynote
$bg-stickynote: #ffffcc;
$bg-stickynote-heading: #ffffb3;
